<div class="eq-email-wrapper">
  <h3>Need a Quote?</h3>
  <div class="field">
    <input type="text" id="cartEmail" value="{{customer.email}}" class="field__input" placeholder="Email" required/>
    <label for="cartEmail" class="field__label">Customer Email</label>
  </div>
  <br/>
  <div class="field">
    <input type="text" id="Phone" class="field__input" placeholder="Phone Number" name="Phone" required/>
    <label for="Phone" class="field__label">Phone</label>
  </div>
  <br/>
  <div class="field">
    <input type="text" id="Company" class="field__input" placeholder="Company" name="Company" required/>
    <label for="Company" class="field__label">Company</label>
  </div>
  <br/>
  <a href="#" class="cart__checkout-button button" id="create_quote_from_product">Create Quote</a>
  <p id="easyquote-status"></p>

</div>



<!--
OLD QTEEDY FORM
<div class="eq-email-wrapper">
  <h3>Need a Quote?</h3>
  <div class="field">
    <input type="text" id="cartEmail" value="{{customer.email}}" class="field__input" placeholder="Email" required/>
    <label for="cartEmail" class="field__label">Customer Email</label>
  </div>
  <br/>
  <div class="field">
    <input type="text" id="Phone" class="field__input" placeholder="Phone Number" name="Phone" required/>
    <label for="Phone" class="field__label">Phone Number</label>
  </div>
  <br/>
  <div class="field">
    <input type="text" id="Company" class="field__input" placeholder="Company" name="Company" required/>
    <label for="Company" class="field__label">Company</label>
  </div>
  <br/>
  <div class="field">
    <input type="text" id="OtherInfo" class="field__input" placeholder="Other Information" name="OtherInfo"/>
    <label for="OtherInfo" class="field__label">Other Information</label>
  </div>
  <br/>
  <div class="field">
    <input type="text" id="Budget" class="field__input" placeholder="Budget" name="Budget" required/>
    <label for="Budget" class="field__label">Budget</label>
  </div>
  <br/>
  <div class="field">
    <input type="date" id="DateQuotationNeeded" class="field__input" placeholder="Date Quotation Needed" name="DateQuotationNeeded" required/>
    <label for="DateQuotationNeeded" class="field__label">Date Quotation Needed</label>
  </div>
  <br/>
  <div class="field">
    <input type="date" id="DateItemsNeeded" class="field__input" placeholder="Date Items Needed if Ordered" name="DateItemsNeeded" required/>
    <label for="DateItemsNeeded" class="field__label">Date Items Needed if Ordered</label>
  </div>
  <br/>
  <div class="field">
    <input type="text" id="ProfileOfRecipients" class="field__input" placeholder="Profile of Recipients" name="ProfileOfRecipients" required/>
    <label for="ProfileOfRecipients" class="field__label">Profile of Recipients</label>
  </div>
  <br/>
  <div class="field">
    <label for="RegularRequirement" class="field__label">Is this a Regular Requirement?</label>
    <select id="RegularRequirement" class="field__input" name="RegularRequirement" required>
      <option value="Yearly">Yearly</option>
      <option value="Every Quarter">Every Quarter</option>
      <option value="Semi-Annual">Semi-Annual</option>
      <option value="Others">Others: <input type="text" id="OtherFrequency" name="OtherFrequency" placeholder="State When" /></option>
    </select>
  </div>
  <br/>
  <a href="#" class="cart__checkout-button button" id="create_quote_from_product">Request Quote</a>

  <p id="easyquote-status"></p>

  <input type="hidden" id="qteedy-product-id" value="{{ product.id }}"/>
  <input type="hidden" id="qteedy-variant-id" value="{{ product.selected_or_first_available_variant.id }}"/>
</div>-->
